---
const links = [
  { id: "profile-link", href: "https://github.com/lfourage", label: "Github" },
  { id: "x-link", href: "https://x.com/SlyBeaver5", label: "X" },
  { id: "email-link", href: "mailto:TON_EMAIL", label: "Email" },
  { id: "phone-link", href: "tel:TON_NUMERO", label: "Phone" },
];
---

<div class="flex justify-center w-full my-[10vh]">
  <section
    id="contact-section"
    class="flex justify-center items-center mx-auto my-[10vh] px-4"
    style="width: clamp(300px, 40vw, 600px); height: clamp(120px, 20vh, 200px); background-color: var(--pink)"
  >
    <div
      class="flex flex-col items-center gap-3 py-3 w-[70%] border-y-[3px] border-(--gold)"
    >
      <h1
        class="font-hotline text-(--gold)"
        style="font-size: clamp(1rem, 2vw, 1.5rem)"
      >
        Contact:
      </h1>
      <ul class="flex flex-wrap justify-center gap-[clamp(0.8rem,2vw,1.5rem)]">
        {
          links.map((l) => (
            <li>
              <a
                id={l.id}
                href={l.href}
                target="_blank"
                class="font-hotline text-(--gold) hover:text-(--dark) transition-colors"
                style="font-size: clamp(0.9rem, 1.5vw, 1.2rem)"
              >
                {l.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</div>
